*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.views-news-card{
    width: 100%;
    height: max-content;
    padding: 4rem 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
}

.views-news-card .views-title h3{
    text-transform: uppercase;
    font-weight: 400;

}

.views-news-card a{
    text-decoration: none;
    background: teal;
    color: white;
    font-weight: 500;
    padding: .5rem 2rem;
}