/* General styling for the entire page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Styling to center the elements on the page */
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

/* the styling for the wrapper */
.wrapper {
  width: 1800px;
  height: max-content;
  overflow: hidden;
}

/* The styling for the header */
header {
  width: 100%;
  position: relative;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The styling for the navbar */
header nav {
  position: fixed;
  top: -7%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 90%;
  transition: 0.4s ease-in-out;
  z-index: 100;
}

header nav.show {
  top: 0;
}

header nav .nav-container {
  background: #333;
  position: relative;
  padding: 1.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  border-bottom: 2px solid white;
  width: 80%;
  justify-content: space-between;
  overflow: hidden;
}

.bg-trans {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  width: 5rem;
  top: 0%;
  left: -500%;
  height: 120%;
  filter: blur(200px);
  animation: transit 1.8s ease-in-out infinite;
  transform: rotate(45deg);
}

@keyframes transit {
  0% {
    left: -1000;
  }
  100% {
    left: 120%;
  }
}

header nav .nav-container ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

header nav .nav-container ul li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

header nav .nav-container .menu {
  display: none;
  flex-flow: column;
  gap: 0.5rem;
  align-items: flex-end;
  cursor: pointer;
}

header nav .nav-container .menu span:first-child.go-down {
  transform: translateY(6px) rotate(45deg);
  width: 2rem;
}
header nav .nav-container .menu span:last-child.go-up {
  transform: translateY(-6px) rotate(-45deg);
}

header nav .nav-container .menu span {
  border: 1.5px solid goldenrod;
  background: goldenrod;
  width: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header nav .nav-container .menu span:last-child {
  width: 2rem;
}

header nav .nav-container h3 {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

header nav .nav-container h3 span {
  color: goldenrod;
  font-weight: 600;
}

header nav .nav-container span:not(#inv) {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}

header .pull-down {
  position: absolute;
  top: 110%;
  border-style: solid;
  border-width: 1.3rem;
  border-top-color: #333;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: 0.4s ease-in-out;
  animation: bounce 1.5s ease-in-out infinite;
  z-index: 100;
}
.upside-down {
  border-bottom-color: #333 !important;
  border-top-color: transparent !important;
}

@keyframes bounce {
  0% {
    top: 100%;
  }
  100% {
    top: 120%;
  }
}

header .hero {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%),
    url("../images/house2.png");

  background-size: 800%;
  padding: 5rem 5%;
  overflow: hidden;
  animation: backgroundAnim 8s linear infinite alternate;
}

header .hero .hero-container .hero-image img {
  width: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

@keyframes backgroundAnim {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

header .hero .hero-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .hero .hero-container .hero-text-content {
  display: flex;
  flex: 1;
  min-width: 20rem;
  flex-flow: column;
  gap: 2rem;
}

header .hero .hero-container .hero-text-content h3 {
  color: #333;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1px;
  max-width: 30rem;
}

header .hero .hero-container .hero-text-content p {
  color: #fcefd7;
  font-weight: 400;
  max-width: 25rem;
  letter-spacing: 1px;
  line-height: 1.7rem;
}

header .hero .hero-container .hero-text-content a {
  text-decoration: none;
  color: #ffcc70;
  background: #333;
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 5px;
  width: max-content;
  transition: 0.2s ease-in-out;
}

header .hero .hero-container .hero-text-content a:hover {
  transform: scale(0.95);
}

header .hero .hero-container .hero-image {
  flex: 1;
  perspective: 800px;
  display: flex;
  justify-content: center;
  transform: translateX(200%);
  transition: 0.4s ease;
}

header .hero .hero-container .hero-image.reveal {
  transform: translateX(0);
}

header .hero .hero-container .hero-image .hero-image-container {
  display: flex;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  animation: rotate 55s linear infinite alternate;
}

header .hero .hero-container .hero-image .hero-image-container .images {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
  position: absolute;
  width: 400px;
  height: 80%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image1 {
  transform: translateZ(200px);
}

.image2 {
  transform: rotateY(180deg) translateZ(200px);
}

.image3 {
  transform: rotateY(-90deg) translateX(200px);
  transform-origin: right;
}

.image4 {
  transform: rotateY(90deg) translateX(-200px);
  transform-origin: left;
}

/* The section one style starts here */
.section-one {
  overflow: hidden;
  width: 75vw;
  padding: 5rem 0;
  margin: auto;
  justify-items: center;
  align-content: center;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.section-one .card.adjust {
  transform: rotate(0deg) translateX(0%) !important;
}

.section-one .card {
  max-width: 18rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 4rem 2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.section-one .card:first-child {
  transform: rotate(-10deg) translateX(-10%);
}
.section-one .card:last-child {
  transform: rotate(10deg) translateX(10%);
}

.section-one .card h3,
.section-one .card p {
  text-align: center;
}

.section-one .card p {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.section-one .card h3 {
  text-transform: uppercase;
  font-weight: 500;
}

/* The section one style ends here */

/* The section two styling begins here */
.section-two {
  position: relative;
  width: 100%;
  display: flex;
  gap: 3rem;
  min-height: 30rem;
  justify-content: center;
  background: #333;
  align-items: center;
  padding: 4rem 3rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.section-two .section-two-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.section-two .section-two-header.slide-down {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.section-two h3 {
  text-transform: uppercase;
  line-height: 5.5rem;
  font-size: 7rem;
  text-align: center;
  color: goldenrod;
}

.section-two .what-we-do-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  transform: translateX(50%);
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.section-two .what-we-do-content.slide-left {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.section-two p {
  padding: 0 5rem;
  letter-spacing: 1px;
  color: #fff;
  line-height: 2rem;
}
/* The section two styling ends here */

/* Section three styling begins here */
.section-three {
  padding: 4rem 3rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 2rem;
}

.section-three h3 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
.section-three p {
  letter-spacing: 1px;
  max-width: 35rem;
  text-align: center;
  line-height: 1.8rem;
}

.section-three .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-three .toggle span {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.section-three .toggle span.active {
  background: #333;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
}

.section-three .section-three-images {
  display: grid;
  gap: 2rem;
  width: 80%;
  padding: 2rem;
  transition: 0.4s ease-in-out;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.section-three .section-three-images img {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  background: #333;
  opacity: 0;
  align-self: center;
}
.section-three .section-three-images img:nth-child(1) {
  transform: rotate(-20deg) translateX(-40px);
}
.section-three .section-three-images img:nth-child(2) {
  transform: rotate(20deg) translateX(40px);
}
.section-three .section-three-images img:nth-child(3) {
  transform: rotate(-20deg) translateX(-20px);
}
.section-three .section-three-images img:nth-child(4) {
  transform: rotate(20deg) translateX(20px);
}

.normalise {
  transform: rotate(0) translateX(0) !important;
  opacity: 1 !important;
}

.hide {
  display: none;
}

/* Section three styling ends here */

/* section four begins here */
.section-four {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #333;
  /* background-image: linear-gradient(45deg, #ff5acd 30%, #fbda61 100%); */
}

.section-four-text {
  flex: 1;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 2rem;
  padding: 0 3rem;
}

.section-four-text h3 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}

.section-four-text h2 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}
.section-four-text h2 span {
  color: goldenrod;
}

.section-four-text h4 {
  color: white;
  text-transform: uppercase;
}

.section-four-text p {
  color: white;
  max-width: 30rem;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 0.9rem;
}

.section-four-text a {
  width: max-content;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background: white;
  color: #333;
  border-radius: 5px;
}

.section-four-image {
  flex: 1;
  padding: 0 3rem;
}
.section-four-image img {
  width: 100%;
}

.bouncer {
  animation: bouncer 0.9s ease-in-out infinite alternate;
}

@keyframes bouncer {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5%);
  }
}

/* section four ends here */

@keyframes slider {
  0% {
    top: 0;
  }
  50% {
    top: -50%;
    width: 0;
  }
  100% {
    top: 10%;
    z-index: 10;
    width: 100%;
    padding-left: 5%;
  }
}

/* teams section styling starts here */
.team-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
}

#for-team {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
}

.team-section .team-container {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  min-height: 500px;
  width: 50%;
  min-width: 360px;
  padding: 1rem 0;
  gap: 1rem;
  overflow: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  overflow: auto;
  scroll-behavior: smooth;
}

.team-section .team-container::-webkit-scrollbar {
  display: none;
}

.team-section .team-container .team-card {
  width: 350px;
  background-color: #333;
  /* background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%); */
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.team-section .snaps-inline > * {
  transition: 1.5s ease-in-out;
  scroll-snap-align: start;
}

.team-section .team-container .team-card img {
  transform: translateY(-100%) translateX(-100%) rotate(-360deg);
  border: 9px solid white;
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: -2rem;
  transition: 0.6s ease-in-out;
}

.team-section .team-container .team-card img.reposition {
  transform: translateY(-50%) translateX(0) rotate(0);
}

.team-section .team-container .team-card h3 {
  /* letter-spacing: 1.5px; */
  font-weight: 600;
  text-align: center;
  font-size: 0.8rem;
  color: whitesmoke;
}

.team-section .team-container .team-card .team-social {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.team-section .team-container .team-card .team-social img {
  /* margin-bottom: 0; */
  height: 2.5rem;
  width: 2.5rem;
  background: white;
  transform: translateY(-50%);
}
/* teams section styling ends here */

/* The contact styling starts here */
.contact-section {
  position: relative;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  background: #333;
  justify-content: center;
  overflow: hidden;
  /* align-items: center; */
}

.contact-container {
  position: relative;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  gap: 2rem;
  background: #333;
  justify-content: center;
}

.contact-section .contact-details {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 3rem;
  /* border: 3px solid white; */
  gap: 6rem;
}

.contact-section .contact-details h3 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #fff;
}
.contact-section .contact-details p {
  width: 20rem;
  color: #fff;
}

.contact-section .contact-details .details {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.contact-section .contact-details .details > * {
  display: flex;
  gap: 2rem;
  color: #fff;
  /* justify-content: center; */
  align-items: center;
}

.contact-section .contact-details .details > * img {
  height: 1rem;
  width: 1rem;
  filter: invert(100%);
}

.contact-section .contact-details .socials {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;
}

.contact-section .contact-details .socials img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  filter: invert(100%);
}

.contact-form {
  /* border: 3px solid whitesmoke; */
  flex: 1;
  padding: 3rem;
}

.contact-form form {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: #fff;
  min-width: 340px;
  border-radius: 5px;
  /* align-items: center; */
  gap: 3rem;
}

.contact-form label {
  margin-bottom: -5rem;
  transition: 0.3s ease-in-out;
  color: #333;
}

.contact-form input {
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  border: none;
  background: transparent;
  border-bottom: 3px solid #333;
  outline: none;
  transition: 0.3s ease-in-out;
}

.contact-form label.focai {
  transform: translateY(-170%);
  font-size: 0.8rem;
}

.contact-form textarea {
  resize: none;
  height: 10rem;
  outline: none;
  padding: 2rem;
  border: 3px solid #333;
  border-radius: 5px;
}

.contact-form button {
  width: max-content;
  padding: 1rem 2rem;
  align-self: end;
  background: goldenrod;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

.lin1 {
  display: none;
  top: 02%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-style: solid;
  border-top-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-width: 0.9rem;
  cursor: pointer;
  animation: bounceLeft 0.5s ease-in-out infinite alternate;
  z-index: 10000;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid white; */
  min-height: 10rem;
}

footer .newsletter {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}
footer .newsletter span {
  color: #fff;
  text-align: center;
}

footer .newsletter form {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .newsletter button {
  padding: 0.5rem 2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: goldenrod;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}

footer .newsletter form input {
  height: 3rem;
  width: 50%;
  min-width: 200px;
}
/* The contact styling ends here */

@keyframes rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* Media Queries */

@media (max-width: 933px) {
  .lin1 {
    display: block;
  }
  .section-two {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .section-two p {
    padding: 0 1rem;
    text-align: center;
  }

  header nav .nav-container ul {
    padding: 3rem;
    position: fixed;
    background: #333;
    width: 80%;
    flex-flow: column;
    gap: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-in-out;
  }
  header nav .nav-container ul.drop {
    top: 100%;
    opacity: 1;
    pointer-events: visible;
  }

  header nav .nav-container ul li {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    transition: 0.1s ease-in-out;
  }
  header nav .nav-container ul li:hover a {
    color: rgb(250, 239, 219);
  }

  header nav .nav-container ul li:hover {
    background: goldenrod;
  }

  header nav .nav-container .menu {
    display: flex !important;
  }

  .purchases {
    display: none;
  }

  header .hero .hero-container .hero-text-content h3 {
    font-size: 2rem;
    text-align: center;
  }
  header .hero .hero-container .hero-text-content {
    flex-flow: column;
    align-items: center;
    z-index: 99;
  }

  header .hero .hero-container .hero-text-content p {
    text-align: center;
  }

  header .hero .hero-container .hero-text-content a {
    text-align: center;
  }

  header .hero .hero-container {
    flex-flow: column;
    gap: 2rem;
    width: 100%;
  }

  header .hero .hero-container .hero-image {
    width: 80%;
  }
  header .hero .hero-container .hero-image img {
    max-width: 40rem;
  }

  header .hero .hero-container .hero-image .hero-image-container .images {
    width: 300px;
    height: 300px;
  }

  header .hero .hero-container .hero-image {
    width: 100%;
    display: flex;
  }

  .image2 {
    transform: rotateY(180deg) translateZ(100px);
  }

  /* section four styling begins here */
  .section-four {
    flex-flow: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }

  .section-four-text > * {
    text-align: center;
  }
  .section-four-text a {
    margin: auto;
  }

  .contact-form {
    position: absolute;
    transform: translateY(-40%);
    opacity: 0;
    transition: 0.4s ease-in-out;
    pointer-events: none;
  }

  .come-down {
    transform: translateY(0) !important;
    opacity: 1 !important;
    pointer-events: visible;
  }

  .contact-section {
    justify-content: center;
    padding: 4rem;
    align-items: center;
  }

  .contact-section .contact-details {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-section .contact-details h3,
  .contact-details p {
    text-align: center;
  }

  @keyframes bounceLeft {
    0% {
      left: 49%;
    }
    100% {
      left: 51%;
    }
  }
  /* section four styling ends here */
}

@media (max-width: 415px) {
  header .hero .hero-container .hero-image .hero-image-container .images {
    width: 200px;
    height: 200px;
  }

  .section-two h3 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .image2 {
    transform: rotateY(180deg) translateZ(1px);
  }

  .section-three {
    padding: 4rem 1rem;
  }

  .section-three h3 {
    font-size: 1.5rem;
  }

  .section-three .section-three-images {
    display: grid;
    width: 100%;
    padding: 2rem;
    transition: 0.4s ease-in-out;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
